/*mobile, portrait*/
html
{
  font-size: 1em/*16px=1em default*/
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  margin: 0;
}

body
{
  background-color: aliceblue;
}
h1
{
  font-size: 1.618em;/*heading, ratio = 1.618*/
  line-height: 1.9416em;
  font-weight: 600;
  font-family: "Lora", "Times New Roman", serif;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
#email, #name
{
  width: 100%;
  background-color: floralwhite;
  border: 0;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.submit
{
  font-family: "Rye", "Georgia", sans-serif;
  font-size: 1.2em;/*A different base just for submit button.*/
  line-height: l.44em;
  width: 100%;
  background-color: lightgray;
  color: darkslategrey;
  font-weight: 600;
  border: 0;
  margin-top: 10px;
}
form li p
{
  font-size: 0.618em;
  float: left;
  margin-left: 3px;
  margin-top: 10px;
}
li div#EULA
{
  color: darkcyan;
  text-decoration-line: underline;
  text-decoration-color: darkcyan;
}
form li
{
  font-family: "Ubuntu", "Helvetica", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
li#input-EULA
{
  text-align: center;
}
li#input-EULA label
{
  display: block;
  width: 100%;
  background-color: aqua;
  padding: 5px;
}
/*with js*/
.submitnotselected
{
  background-color: lightgray;
  color: gray;
}

@media only screen and (min-width: 440px) and (max-width: 1024px)
{
  /*tablet*/
  #submit
  {
    display: block;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  input#agreement
  {
    position: static;
  }
  li#input-EULA
  {
    text-align: left;
  }
  li#input-EULA label
  {
    background-color: aliceblue;
    text-align: left;
    display: inline;
  }
  #email, #name
  {
    width: 40%;
  }
  li#input-email, li#input-name
  {
    text-align: center;
  }
}

@media only screen and (min-width: 1024px)
{
  /*desktop*/
  #submit
  {
    display: block;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  input#agreement
  {
    position: static;
  }
  li#input-EULA
  {
    text-align: left;
  }
  li#input-EULA label
  {
    background-color: aliceblue;
    text-align: left;
    display: inline;
  }
  #email, #name
  {
    width: 450px;
  }
  li#input-email, li#input-name
  {
    text-align: center;
  }
}