/*mobile, portrait*/
body
{
  background-color: aliceblue;
}
h1
{
  font-size: 25px;
  font-weight: 600;
  font-family: "Times New Roman", serif;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
#email, #submit
{
  width: 100%;
  background-color: floralwhite;
  border: 0;
  margin-top: 10px;
}
#submitnotselected
{
  color: gray;
}
#submit
{
  background-color: lightgray;
  color: darkslategrey;
  font-weight: 600;
}
form li p
{
  font-size: 7px;
  float: left;
  margin-left: 3px;
  margin-top: 10px;
}
li div#EULA
{
  color: darkcyan;
  text-decoration-line: underline;
  text-decoration-color: darkcyan;
}
form li
{
  margin-top: 10px;
  margin-bottom: 10px;
}
input#agreement
{
  position: absolute;
  left: -1000px;
}
li#input-EULA
{
  width: 100%;
  text-align: center;
  background-color: aqua
}



@media only screen and (min-width: 440px) and (max-width: 1024px)
{
  /*tablet*/
  body
  {
    background-color: aqua;
  }
  #submit
  {
    display: block;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  input#agreement
  {
    position: static;
  }
  li#input-EULA
  {
    background-color: aliceblue;
    text-align: left;
  }
}

@media only screen and (min-width: 1024px)
{
  /*desktop*/
  body
  {
    background-color: aquamarine;
  }
  #submit
  {
    display: block;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  input#agreement
  {
    position: static;
  }
    li#input-EULA
  {
    background-color: aliceblue;
    text-align: left;
  }
}